img {
    height: 92.11px;
    width: 93.75px;
}
@media only screen and (min-width: 768px) {
    img {
        height: 178.33px;
        width: 190.5px;
    }
}
h3 {
    margin-left: 0.25rem;
}
.container {
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.25rem 0;
    width: 100%;
}