<hr>
<div class="title-container">
  <h2>Year</h2>
</div>
<hr>
<mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', 'unknown')"/>
    <h3>??</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '56')"/>
    <h3>56</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '57')"/>
    <h3>57</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '58')"/>
    <h3>58</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '59')"/>
    <h3>59</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '87')"/>
    <h3>87</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '89')"/>
    <h3>89</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '90')"/>
    <h3>90</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '91')"/>
    <h3>91</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '92')"/>
    <h3>92</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '93')"/>
    <h3>93</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '94')"/>
    <h3>94</h3>
  </mat-grid-tile>
  <!-- <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '95')"/>
    <h3>95</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '96')"/>
    <h3>96</h3>
  </mat-grid-tile> -->
</mat-grid-list>