<h2>Year</h2>
<mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', 'unknown')"/>
    <p>Unknown</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '56')"/>
    <p>56</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '57')"/>
    <p>57</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '58')"/>
    <p>58</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '59')"/>
    <p>59</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '87')"/>
    <p>87</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '89')"/>
    <p>89</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '90')"/>
    <p>90</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '91')"/>
    <p>91</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '92')"/>
    <p>92</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '93')"/>
    <p>93</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '94')"/>
    <p>94</p>
  </mat-grid-tile>
  <!-- <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '95')"/>
    <p>95</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('year', '96')"/>
    <p>96</p>
  </mat-grid-tile> -->
</mat-grid-list>