<h2>Name</h2>
<mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'ray')"/>
    <p>Ray</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'gloria')"/>
    <p>Gloria</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'celyna')"/>
    <p>Celyna</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'brian')"/>
    <p>Brian</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'emily')"/>
    <p>Emily</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'tim')"/>
    <p>Tim</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'garrett')"/>
    <p>Garrett</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'glenda')"/>
    <p>Glenda</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'berta')"/>
    <p>Berta</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'celeste')"/>
    <p>Celeste</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'jean')"/>
    <p>Meme Jean</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'jane')"/>
    <p>Nana Jane</p>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('star', 'calvin')"/>
    <p>Poppy Dyke</p>
  </mat-grid-tile>
</mat-grid-list>