h2 {
    margin: 0;
    color: white;
}
.option-unselected {
    color: white;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(13, 111, 124);
    border: 1px solid white;
}
.option-selected {
    color: black;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: gold;
    border-radius: 5px;
    border: 1px solid black;
}
.title-container {
    display: flex;
    justify-content: center;
}