<div class="button-container">
  <button (click)="selectAndClose()">Update Video List</button>
  <button (click)="vids.resetVideosList()">All Movies</button>
</div>
<div class="select-container">
  <label for="filter">Filter By: </label>
  <select class="form-control" name="filter" id="filter" (change)="updateOption($event)">
    <option value="year">Year</option>
    <option value="location">Location</option>
    <option value="star">Star</option>
  </select>
</div>
<year-options *ngIf="option === 'year'"></year-options>
<name-options *ngIf="option === 'star'"></name-options>
<location-options *ngIf="option === 'location'"></location-options>