<hr>
<div class="title-container">
  <h2>Location</h2>
</div>
<hr>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'arkansas')"/>
    <h3>Arkansas</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'orleans')"/>
    <h3>New Orleans</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'beach')"/>
    <h3>Beach</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'disney')"/>
    <h3>Disney</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'york')"/>
    <h3>York st.</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'miro')"/>
    <h3>S Miro</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'church')"/>
    <h3>Church</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'colorado')"/>
    <h3>Colorado</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'guam')"/>
    <h3>Guam</h3>
  </mat-grid-tile>
  <mat-grid-tile class="option-container">
    <input
      type="checkbox"
      (click)="vids.updateFilterCriteria('location', 'newman')"/>
    <h3>Newman</h3>
  </mat-grid-tile>
</mat-grid-list>